<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body"></div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3>ORDERS DETAILS</h3>
        </div>
        <div class="card-body">
          <div class="card p-2">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Order Id</th>
                  <th scope="col">Customer</th>
                  <th scope="col">Order</th>
                  <th scope="col">Delivery Date</th>
                  <th scope="col">Delivery Price</th>
                  <th scope="col">Delivery Status</th>
                  <th scope="col">Address</th>
                  <th scope="col">Mobile</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0987bv</td>
                  <td>Mr Aman</td>
                  <td>Product 1</td>
                  <td>23/3/2023</td>
                  <td>$ 23434</td>
                  <td>Completed</td>
                  <td>Bhopal Mp</td>
                  <td>09876543234</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
